@page "/"
@model Otthonbazar.Pages.Advertisements.IndexModel

@{
    ViewData["Title"] = "Advertisements";

    string GetImgUrl(string fileName) => string.IsNullOrEmpty(fileName) ? "https://via.placeholder.com/340x255" : $"images/{fileName}";
}

<div class="container">
    <div class="row">
        <section class="col-lg-4">
            <h2>Keresés</h2>
        </section>

        <section class="col-lg-8">
            <h2>Hirdetések</h2>

            <div class="row">
                @foreach (var item in Model.Advertisement)
                {
                    <article class="col-lg-6">
                        <a asp-page="./Details" asp-route-id="@item.Id">
                            <img src="@GetImgUrl(item.ImageUrl)" alt="@item.AdvertisementType in @item.Address" class="img-responsive" />
                        </a>

                        <h3>
                            <strong>
                                <span class="">@item.Price MFt</span>
                                <span class="pull-right">@item.Size m<sup>2</sup></span>
                            </strong>
                        </h3>

                        <p>
                            <span>@item.City.Zip @item.City.Name</span>
                            <span class="pull-right">@item.Address</span>
                        </p>

                        <p>@Html.DisplayFor(modelItem => @item.AdvertisementType)</p>

                        <dl>
                            <dt class="pull-left">Szobák:</dt>
                            <dd>@item.Room + @item.HalfRoom</dd>
                        </dl>
                    </article>
                }
            </div>
        </section>
    </div>
</div>
